/*Сброс стилей. Начало*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*Сброс стилей. Конец*/

/*Редактирование стилей. Начало*/
/*Частоиспользуемые блоки. Начало*/
.button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: relative;
  padding: 0;
}

.button--text--false {
  font-size: 0;
}

.button--theme--basic {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FF3E79;
  border-radius: 50%;
}

.button--theme--request {
  background-image: url("../img/ic/Group1.svg");
}

.button--theme--status {
  background-image: url("../img/ic/icon2.svg");
}

.button--theme--call {
  background-image: url("../img/ic/icon3.svg");
}

.button--theme--chat {
  background-image: url("../img/ic/icon4.svg");
}

.button--theme--profile {
  background-image: url("../img/ic/Group2.svg");
}

.button--visibility--tablet {
  display: none;
}

.title {
  position: relative;
}

.title__highlight {
  position: absolute;
  height: 40px;
  width: 4px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background: #41F6D7;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.title__text {
  height: 40px;
  font-family: 'TT Lakes';
  font-size: 28px;
  line-height: 40px;
  /* identical to box height, or 143% */
  letter-spacing: -0.6px;
  color: #1B1C21;
  padding-left: 16px;
  padding-right: 16px;
}

/*Частоиспользуемые блоки. Конец*/

/*Редкоиспользуемые блоки и элементы. Начало*/
.body {
  position: relative;
  background-color: #F8F8F8;
}

.header {
  height: 88px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #D9FFF5;
  background-color: #FFFFFF;
}

.header__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__group--small {
  width: 172px;
}

.header__group--big {
  width: 96px;
}

.header__nav {}

.header__button {
  background-image: url("../img/ic/icon1.svg");
}

.header__logo {
  width: 97px;
}

.header__separator {
  height: 32px;
  width: 2px;
  border-radius: 1px;
  background: #EAEAEA;
}

.header__separator--visibility--tablet {
  display: none;
}

.header__subgroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__subgroup--big {}

.header__subgroup--small {}

.header__label {
  display: none;
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: right;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

.main {
  padding-top: 24px;
  padding-bottom: 35px;
  background: #F8F8F8;
}

.post-nav {
  padding-top: 24px;
  padding-bottom: 24px;
  overflow: scroll;
}

.post-nav__fading {
  position: absolute;
  height: 40px;
  width: 24px;
  border-radius: 0px;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  right: 0;
}

.post-nav__links {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
}

.post-nav__link {
  text-decoration: none;
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: -0.2px;
  color: #7E7E82;
  border: 2px solid transparent;
  border-radius: 6px;
  /*        transform: matrix(-1, 0, 0, 1, 0, 0);*/
  padding: 6px 16px;
  display: flex;
}

.post-nav__link--active {
  border: 2px solid #B8FFEC;
  background: #FFFFFF;
}

.article {}

.article__content {
  padding-left: 16px;
  padding-right: 16px;
}

.article__paragraph {
  margin-bottom: 16px;
  text-align: left;
  font-family: 'TT Lakes';
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  letter-spacing: 0.2px;
  color: #1B1C21;
}

.article__paragraph--visibility--tablet {
  display: none;
}

.article__span {}

.article__span--visibility--desktop {
  display: none;
}

.article__button {
  width: 132px;
  height: 24px;
  text-align: right;
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: -0.2px;
  color: #1B1C21;
  background-image: url("../img/ic/expand.svg");
  background-repeat: no-repeat;
  margin-bottom: 16px;
}

.article__figure {
  margin: 0;
}

.article__img {}

.article__figcaption {
  font-size: 0;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
  }

  .header__group--small {
    width: 179px;
  }

  .header__logo {
    order: 1;
  }

  .header__group--big {
    width: 290px;
  }

  .button--visibility--tablet {
    display: inherit;
  }

  .header__separator--visibility--tablet {
    display: inherit;
  }

  .main {
    padding-bottom: 40px;
  }

  .title__text {
    padding-left: 24px;
    padding-right: 24px;
  }

  .post-nav {
    padding-bottom: 32px;
  }

  .post-nav__links {
    padding-left: 24px;
    padding-right: 24px;
  }

  .article {
    display: flex;
  }

  .article__content {
    width: 360px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .article__paragraph--visibility--tablet {
    display: inherit;
  }

  .article__figure {
    padding-left: 24px;
    padding-right: 24px;
  }

  .article__img {
    border-radius: 6px;
    width: 360px;
  }
}

/* Desktop */
@media screen and (min-width: 1120px) {
  .body {
    padding-top: 18px;
  }

  .header {
    justify-content: flex-end;
    padding-left: 32px;
    padding-right: 32px;
    position: absolute;
    width: 100%;
    background-color: transparent;
    border: none;
  }

  .header__group--small {
    display: none;
  }

  .header__group--big {
    width: 373px;
  }

  .header__subgroup {}

  .header__subgroup--big {
    width: 173px;
  }

  .header__subgroup--small {
    width: 168px;
  }

  .header__label {
    display: inherit;
  }

  .button--visibility--tablet {
    display: none;
  }

  .header__separator--visibility--tablet {
    display: none;
  }

  .main {
    padding-bottom: 49px;
  }

  .post-nav {
    padding-top: 8px;
    padding-bottom: 16px;
  }

  .title__text {
    padding-left: 32px;
    padding-right: 32px;
  }

  .post-nav__links {
    padding-left: 32px;
    padding-right: 32px;
    flex-wrap: wrap;
  }

  .article__content {
    width: 543px;
    padding-left: 34px;
    padding-right: 19px;
  }

  .article__paragraph {
    margin-bottom: 14px;
  }

  .article__span--visibility--desktop {
    display: inline;
  }
  
  .article__figure {
    padding-left: 19px;
    padding-right: 29px;
  }
  
  .article__img {
    width: 531px;
  }
}

/*Редактирование стилей. Конец*/
